:root {
  --primary: #000000;
  --primary-text: #ffffff;
  --secondary: #9999996c;
  --secondary-text: #ffffff;
  --accent: #1b1b1b;
  --accent-text: #ffffff;
  --descent: #1b1b1b00;
  --text1: #0337c7;
  --text2: #3f8506;
  
}
